.Footer{
    width: 100vw;
    min-height: fit-content;
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: .5rem;
    bottom: -8%;
    z-index: 2;
    transition: bottom .6s ease , background 1s ease ;
}
.Footer.isVisible{
    bottom: 0;
    gap: 0;
    background: linear-gradient(180deg, transparent, var(--c-secondary-50));
}
/* svg chevron doble de Cerrar */
.Footer-svg{
    width: fit-content;
    margin: 0 auto;
    color: var(--c-primary-100);
    padding: 1rem;
    cursor: pointer;
    transition: color .6s ease , transform .6s ease;
}
.Footer-svg:hover{
    color: var(--c-primary-75);
    transform: translateY(-.5rem);
}
/* Animación de dar la vuelta al estar abierto el footer */
.Footer.isVisible .Footer-svg{
    transform: rotate(180deg);
}
/* Animación de bajarlo un poco al hacer hover */
.Footer.isVisible .Footer-svg:hover{
    transform: rotate(180deg) translateY(-.5rem);
}
.Footer-links{
    width: fit-content;
    margin: 0 auto;
    color: var(--c-primary-75);
}
.Footer-ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
/* Le damos margen al botón del popup legal para separarlo de los botones principales */
.Footer-li:last-child{
    margin-left: 3rem;
}
/* Botones principales del footer */
.Footer-a{
    font-size: var(--fs-regular);
    font-weight: var(--fw-bold);
    color: var(--c-primary-50);
    text-transform: uppercase;
    padding: .625rem 1.25rem;
    transition: color .4s ease;
    cursor: pointer;
}
/* Botón del popup */
.Footer-a--secondary{
    font-weight: var(--fw-regular);
    text-transform: none;
}
.Footer-a:hover{
    color: var(--c-primary-100);
}

.Footer-background{
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}
/* Capa de fondo negra al abrir el popup de textos legales */
.Footer-background.isVisible{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--c-secondary-75);
    display: block;
    opacity: 1;
    pointer-events: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
/* Caja del popup en sí */
.Footer-popup{
    width: 70%;
    min-height: 70vh;
    background-color: var(--c-secondary-100);
    margin: 0 auto;
    padding: 2.5rem;
    border-radius: var(--br-square);
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    box-shadow: var(--bs-box-small);
}
/* Estilo del svg de cerrar popup + hover en el svg*/
.Popup-close{
    width: fit-content;
    height: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    left: auto;
    z-index: 2;
    opacity: .75;
    cursor: pointer;
    transition: opacity .3s ease;
}
.Popup-close:hover{
    opacity: .5;
    scale: 1.05;
}
/*
Estilos del contenido popup
- Header
- Estilos de los tabs: default, hover y active
*/
.Popup-header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem 0 0;
    border-right: 1px solid var(--c-primary-50);
}
.Popup-tab{
    padding: .5rem 1rem;
    border-radius: var(--br-square);
    font-size: var(--fs-med);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    color: var(--c-primary-50);
    text-wrap: nowrap;
    cursor: pointer;
    transition: color .4s ease;
}
.Popup-tab:hover{
    color: var(--c-primary-75);
}
.Popup-tab.isActive{
    background-color: var(--c-primary-25);
    color: var(--c-primary-50);
    box-shadow: var(--bs-btn);
}
/* Texto oculto o visible si su tab está active */
.Popup-info{
    display: none;
    transform: translateY(10%);
}
.Popup-info.isVisible{
    max-width: 95%;
    min-height: 32rem;
    max-height: 32rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: scroll;
    transform: translateY(0);
}
/* Estilos de elementos dentro de los textos */
.Popup-h2{
    font-size: var(--fs-med);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}
.Popup-h3{
    color: var(--c-primary-75);
    font-weight: var(--fw-bold);
}
.Popup-li{
    margin: 1rem 0 0 0;
}
.Popup-a{
    color: var(--c-primary-50);
    transition: color .5s ease , text-decoration .3s ease;
}
.Popup-a:hover{
    color: var(--c-primary-100);
    text-decoration: underline;
}
/* Fondo semitransparente blanco al "subrayar" para mejorar legibilidad en pág. oscura*/
Footer ::selection{
    background-color: var(--c-primary-25);
}


/* Responsive para móvil */
@media (min-width: 1600px){
    .Footer{
        bottom: -6%;
    }
}



/* Responsive para móvil */
@media (max-width: 1200px){
    .Footer-popup{
        width: 80%;
        flex-direction: column;
        padding: 2rem;
        gap: 1rem;
    }
    .Popup-header{
        flex-direction: row;
        gap: .5rem;
        padding-right: 3rem;
        padding-bottom: .5rem;
        overflow: scroll;
        border-right: none;
        border-bottom: 1px solid var(--c-primary-50);
    }
    .Popup-tab{
        font-size: var(--fs-regular);
        padding: .5rem;
    }
    .Popup-info.isVisible {
        min-height: 25rem;
        max-height: 25rem;
        gap: .5rem;
    }
}

/* Responsive para móvil */
@media (max-width: 768px){
    .Footer-popup{
        width: 90%;
    }
    .Footer-a{
        padding: .25rem 1rem;
    }
}


/* Responsive para móvil */
@media (max-width: 480px){
    .Footer{
        bottom: -6%;
        padding: .5rem 0;
        display: flex;
        flex-direction: column;
        position: fixed;
    }
    .Footer.isVisible{
        background: linear-gradient(180deg , transparent , var(--c-secondary-75));
        bottom: 0;
    }
    .Footer-li:last-child{
        margin-left: 1rem;
    }

    /* Popup */
    .Footer-popup{
        flex-flow: column;
        width: 95%;
        padding: 1.5rem;
    }
    .Popup-header{
        flex-direction: row;
        padding-right: 2.5rem;
        border-right: none;
        border-bottom: 1px solid var(--c-primary-50);
    }
    .Popup-close {
        top: .75rem;
        right: .75rem;
        left: auto;
    }
    .Popup-tab{
        font-size: var(--fs-med);
    }
    .Popup-info.isVisible{
        max-width: 100%;
        gap: 1rem;
        margin: 1rem auto 0
    }
    .Popup-li{
        margin: .5rem 0 0 0;
    }
}