.Wrapper{
    background-image:   linear-gradient(var(--c-secondary-75) , transparent) ,
                        url('../assets/images/airplane.webp');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    color: var(--c-primary-100);
    position: relative;
    overflow: clip; /* Hacemos que el texto aparezca - desaparezca al salir del cuadro central */
}
/* Contenedor central que hace muestra el texto visible */
.Wrapper-content{
    position: sticky;
    top: 20vh;
    max-height: calc(100vh - 20vh);
    overflow-y: auto;
}
.Container{
    display: flex;
    flex-flow: row nowrap;
    gap: 2.5rem;
}
.Container-col{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.Container-p{
    font-size: 1.25em;
    line-height: 1.5em;
}
/* Estilos comunes para las secciones horizontales */
.Stats , .Reviews{
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
/* Grid de estadísticas */
.Stats-grid{
    display: grid;
    grid-template-columns: repeat( 3 , 1fr );
    margin: 4rem auto;
    font-size: var(--fs-extrabig);
}
/* Item de estadísticas */
.Stats-item{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 2rem;
    align-items: center;
    color: var(--c-primary-100);
}
/* Al item del centro le añadimos bordes a los lados para separación visual */
.Stats-item:nth-child(2){
    border-left: 2px solid var(--c-primary-50);
    border-right: 2px solid var(--c-primary-50);
}
/* Texto normal */
.Stats-span{
    text-align: center;
}
/* Números grandes */
.Stats-span--big{
    font-size: 5rem;
    font-weight: var(--fw-bold);
    color: var(--c-primary-50);
}
/* Apartado de reseñas */
.Reviews-grid{
    display: grid;
    grid-template-columns: repeat( 3 , 1fr );
    gap: 1rem;
    margin: 4rem auto;
}
/* Cuadros de reseñas  */
.Reviews-card{
    width: 85%;
    background-color: var(--c-secondary-50);
    padding: 2.5rem;
    border: 1px solid var(--c-primary-25);
    border-radius: var(--br-square);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* Estrellas de las review*/
.Reviews-rating{
    font-size: 1.5em;
    margin: 0 0 .5rem 0;
    color: var(--c-primary-75);
}
/* Estilo general de los títulos de la página */
.u-h2{
    margin: 0;
    font-size: 3rem;
    font-weight: var(--fw-bold);
    color: var(--c-primary-75);
    hyphens: none;
}
/* Solo títulos sticky */
.Container .u-h2{
    max-width: fit-content;
    max-height: fit-content;
    position: sticky;
    top: 0;
}
/* Primer título de la página -> a la derecha */
.Container--top .u-h2{
    text-align: end;
}
/* Estilo al "subrayar" que oscurece el texto seleccionado */
.Wrapper ::selection{
    color: var(--c-primary-25);
}


@media (max-width: 1328px){
   .Container{
        gap: 4rem;
   }
   .Stats-grid{
        margin: 4rem auto;
        font-size: var(--fs-med);
    }
    .Stats-span--big{
        font-size: var(--fs-extrabig);
    }
    .Reviews-card{
        width: 100%;
    }
}


/* Responsive Tablet */
@media (max-width: 768px){
    .Container{
        gap: 3rem;
   }
   .Container-col{
        gap: 1.5rem;
   }
   .Container-p , .Reviews-p{
        font-size: var(--fs-regular);
   }
   .Stats-grid{
        margin: 1.5rem;
   }
   .Reviews-grid{
        grid-template-columns: 1fr;
        margin: 1.5rem;
    }
   .Reviews-card{
        padding: 1.5rem;
    }
    .u-h2{
        font-size: var(--fs-big);
    }
}


/* Responsive Móvil */
@media (max-width: 480px){
    .Wrapper{
        padding-bottom: 2vh;
    }
    .Container{
        flex-direction: column;
        gap: 2rem;
    }
    .Container-col{
        max-width: 100%;
    }
    .Stats-grid , .Reviews-grid{
        grid-template-columns: 1fr;
    }
    .Stats-item{
        padding: 2rem;
    }
    .Stats-item:nth-child(2){
        border-left: 0;
        border-right: 0;
    }
    .Reviews .u-h2{
        text-align: center;
    }
   .Container--bottom{
        flex-flow: column-reverse;
   }
   .u-h2{
    text-align: start;
   }
}